asn1crypto==0.24.0
astroid==2.3.2
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
cryptography==2.6.1
cupshelpers==1.0
cx-Oracle==7.2.3
distro==1.3.0
distro-info==0.21
Django==2.1.5
entrypoints==0.3
httplib2==0.11.3
idna==2.6
isort==4.3.21
keyring==17.1.1
keyrings.alt==3.1.1
lazy-object-proxy==1.4.3
louis==3.8.0
mccabe==0.6.1
mysqlclient==1.4.4
Pillow==6.2.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
pylint==2.4.3
PyMySQL==0.9.3
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4
python-debian==0.1.35
python-debianbts==2.8.2
pytz==2019.2
pyxdg==0.25
reportbug===7.5.3-deb10u1
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==15.1.0
wrapt==1.11.2
